/*------------------------------------*\
    #COMPONENTS: LIGHTBOX
\*------------------------------------*/

.Lightbox {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.Lightbox-footerMeta {
	font-size: 1rem;
	line-height: 1.5;
	white-space: normal;

	time,
	span,
	.Lightbox-footerTags {
		display: inline;
		vertical-align: baseline;
	}

	.Lightbox-footerTags {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.Lightbox-footerTags li {
		display: inline;
		margin: 0;
		padding: 0;
	}

	.Lightbox-footerTags a {
		font-size: inherit;
		line-height: inherit;
	}
}

.Lightbox-inner {
	height: 80vh;
	width: 80vh;
	padding: .5rem;

	source,
	img {
		position: absolute;
		inset: 0px;
		display: block;
		outline: none;
		min-width: 100%;
		max-width: 100%;
		min-height: 100%;
		max-height: 100%;
		object-fit: contain;
	}
}